*.pyc
.DS_Store

/temp/
/.project
/.pydevproject

# checkpoint
checkpoints/

# For PyCharm users
.idea/

# IDE settings
.vscode/
.spyproject/

# files unused by kindo
docker/
connect4/
gobang/
othello/
rts/
tafl/
tictactoe/
pretrained_models/*
!pretrained_models/kindo/
main.py
pit.py
READMEorig.md
setup_env.sh
test_all_games.py